/*main>section{*/
/*    width: 97vw;*/
/*    height: 98vh;*/
/*    !*position: relative;*!*/
/*    !*bottom: -173px;*!*/
/*    border: 3px solid red;*/
/*}*/


/*========================== header ==========================*/
body > header > nav {
    border-color: #ff4334;
    border-radius: 8px;

    position: absolute;
    top: 8px;
    left: 200px;


}


/*========================== Home =====================*/
main>section:first-child>section>aside>img{
    width: 45%;
    height: 45%;
    padding-top: 20px;
}

body > main > section:first-child > section:nth-child(1) > article > h1 {
    color: rgb(246, 251, 13);
    font-size: 42px;
    text-shadow: 2px 2px red;
}

body > main > section:first-child > section:nth-child(1) > article > button {
    color: black;
    font-size: 22px;
    border-color: #ff4334;
}


body > main > section:first-child > section:first-child > article > h2 {
    font-size: 18px;
    padding-left: 30px;
}




/*========================== about ==========================*/

/*body>main>section:nth-child(2){*/
/*    !* background-color: green; *!*/
/*    !*position: relative;*!*/
/*    !*bottom: -173px;*!*/

/*}*/

/*h1 {*/
/*    color: black;*/
/*    font-size: 14px;*/
/*    font-family: "Griffy";*/
/*    position: absolute;*/
/*}*/

/*h1.second {*/
/*    color: red;*/
/*    font-family: "Griffy";*/
/*    padding-left: 50px;*/

/*}*/

/*body > main > section:nth-child(2) > section{*/
/* !*padding-bottom: 200px;*!*/

/*}*/

/*body>main>section:nth-child(2)> section>section>section>article{*/
/*    !* background-color: red; *!*/
/*    position: relative;*/
/*    !* left: 0; *!*/
/*    right: 34px;*/
/*    top: 86px;*/
/*    width: 50vw;*/
/*    height: 50vw;*/
/*    margin: auto;*/

/*}*/


/*body > main > section:nth-child(2) > section>section>section>article>h3{*/
/*    color: black;*/
/*    font-style: inherit;*/
/*    font-size: 20px;*/
/*    position: absolute;*/
/*    left: 56px;*/
/*    top: -32px;*/
/*}*/

/*body > main > section:nth-child(2) > section>section>section:nth-child(2)>h2{*/
/*    color: black;*/
/*    font-style: inherit;*/
/*    font-size: 22px;*/
/*}*/


/*body > main > section:nth-child(2) > section>section>section>article>p{*/
/*    !*size: 15px;*!*/
/*    !*margin-top: 1px;*!*/
/*    !*margin-bottom: 5px;*!*/
/*}*/


/*========================== gallery ==========================*/
main>section:nth-child(3){
    background-color: #40036e;
        width: 97vw;
        height: 98vh;
}
