body{
    overflow-x: hidden ;
}

main > section {
    width: 100vw;
    height: 109vh;
    /*!*position: relative;*!*/
    /*!*bottom: -173px;*!*/
    /*border: 3px solid red;*/
}

/*========================== header ==========================*/
body > header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 57px;
    box-shadow: inset 0px -2px 4px 0px #d9b7b7;
    z-index: 91;
    background-color: #40036e;
}

body > header > nav > ul {
    position: absolute;
    right: 30px;
    margin-top: 10px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    list-style: none;
    color: white;
}

body > header > nav > ul > li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

header > img {
    width: 5%;
    height: 71%;
    position: absolute;
    top: 5px;
    left: 7px;
}




/*======================================================== Home =============================================*/
body > main > section:nth-child(1) {
    /*background-color: green;*/
    position: relative;
    bottom: 21px;
    height: 103vh;
}

main>section:first-child>section:first-child>article>aside{
    background-color: #40036e;
    position: relative;
    /* border: 2px solid black; */
    height: 288px;
    width: 34%;
    top: -152px;
    left: 1px;
    background-repeat: no-repeat, repeat;
    background-image: url(assets/image/pic/168114-black-and-white-dot-background-image.jpg);
    background-size: 100% 100%;
    transform: rotate(180deg);
}

main > section:first-child > section > aside > img {
    width: 37%;
    height: 39%;
    /* padding-top: 20px; */
    position: relative;
    bottom: -24px;
    left: -30px;
}

body > main > section:first-child > section:nth-child(1) > article > h1 {
    color: rgb(246, 251, 13);
    font-size: 52px;
    text-shadow: 2px 2px red;
    position: relative;
    left: 12px;
    top: 37px;
}

body > main > section:first-child > section:first-child > article > h2 {
    font-size: 28px;
    padding-left: 30px;
}

main > section:nth-child(1) > section:nth-child(1) > article > img {
    width: 28%;
    height: 10%;
    position: relative;
    left: 98px;
}

main > section:nth-child(1) > section:nth-child(1) > article > p {
    font-size: 22px;
    position: relative;
    left: 125px;
    top: -72px;
    z-index: 1;
}

main > section:nth-child(1) > section:nth-child(1) > article > button {
    font-size: 28px;
    border-color: #a79897;
    background-color: red;
    position: relative;
    left: 198px;
    top: -37px;
    color: #edebe9;
    border-radius: 16px;
    z-index: 2;
}

main > section:nth-child(1) > section:nth-child(1) > article > hr {
    background-color: #dbd3d3;
    width: 41%;
    /* rotate: unset; */
    height: 12px;
    border: inset;
    transform: rotate(90deg);
    position: absolute;
    top: 296px;
    left: 614px;
}

main > section:nth-child(1) > section:nth-child(2) > div > hr {
    color: #0a0909;
    height: 2px;
    background-color: black;
}

main > section:nth-child(1) > section:nth-child(2) > div {
    position: absolute;
    top: 533px;
    width: 100%;
}

main > section:nth-child(1) > section:nth-child(2) > div > hr:nth-child(1) {
    position: relative;
    top: 80px;
}

main > section:nth-child(1) > section:nth-child(2) > div > section {
    /* background-color: #ff4334; */
    position: relative;
    top: 44px;
    left: 208px;
    width: 81%;
}

main > section:nth-child(1) > section:nth-child(2) > div > section > p {
    position: relative;
    top: 44px;
    left: -159px;
    width: 81%;
    color: #40036e;
}

main > section:nth-child(1) > section:nth-child(2) > div > aside {
    right: -1031px;
    position: relative;
    top: 0px;
    width: 93px;
    height: 100%;
}

main > section:nth-child(1) > section:nth-child(2) > div > aside > a:nth-child(2) {
    width: 93px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 307px;
}

main > section:nth-child(1) > section:nth-child(2) > div > aside > a:nth-child(1) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;;
    top: -8px;
    font-size: 118%;
}

main > section:nth-child(1) > section:nth-child(2) > div > aside > a:nth-child(2) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;
    top: -3px;
    font-size: 103%;
}



/*========================================== about ==========================================*/
body > main > section:nth-child(2) {
    /*background-color: green;*/
    position: relative;
    bottom: 50px;
}

main>section:nth-child(2)>section:nth-child(2)>section:first-child>section:first-child>hr{
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
    width: 120px;
    position: relative;
    top: 4px;
    left: 30px;
    color: red;
    border: 1px solid;
}

main>section:nth-child(2)>section:nth-child(2)>section:first-child>section:last-child>hr{
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
    width: 208px;
    position: relative;
    top: 4px;
    left: 30px;
    color: red;
    border: 1px solid;
}

h1 {
    color: black;
    font-size: 25px;
    font-family: "Griffy";
    position: absolute;
    left: 34px;
    top: 6px;
}

h1.second {
    color: red;
    font-family: "Griffy";
    padding-left: 78px;
}

body > main > section:nth-child(2) > section > section > section > article {
    /*background-color: red;*/
    position: absolute;
    /* left: 0; */
    right: 115px;
    top: 28px;
    width: 50vw;
    height: 50vw;
    margin: auto;
}

body > main > section:nth-child(2) > section > section > section > article > pre:nth-child(4) {
    position: relative;
    right: -72px;
    top: -23px;
}

body > main > section:nth-child(2) > section > section > section > article > button {
    background-color: red;
    position: relative;
    left: 618px;
    top: -111px;
    border-radius: 15px;
    font-size: 22px;
}

body > main > section:nth-child(2) > section > section > section > article > button:nth-child(6) {
    background-color: darkgreen;
    position: relative;
    left: 630px;
    top: -111px;
}

body > main > section:nth-child(2) > section > section > section > aside >img{
    /*background-color: blue;*/
    position: relative;
    right: -107px;
    top: 5px;
    margin-top: 0px;
    transform: rotate(6deg);
    z-index: 1;
    border: 4px solid black;
}

body > main > section:nth-child(2) > section > section > section > aside>div {
    background-color: red;
    border: 4px solid black;
    position: absolute;
    left: 109px;
    top: 73px;
    /* margin-top: 0px; */
    width: 20%;
    height: 47%;
    transform: rotate(347deg);
    /* background: border-box;*/
}

body > main > section:nth-child(2) > section > section:nth-child(1) > section:nth-child(2) {
    /*background-color: yellow;*/
    position: relative;
    top: -17px;
}

body > main > section:nth-child(2) > section > section > section:nth-child(2) > h2 {
    color: black;
    font-style: inherit;
    font-size: 26px;
    position: relative;
    top: 13px;
    left: 31px;
}

body > main > section:nth-child(2) > section > section:nth-child(1) > section:nth-child(2) > div {
    /*background-color: dodgerblue;*/
    display: flex;
    justify-content: space-between;
    height: 75px;
}

body > main > section:nth-child(2) > section > section:nth-child(2) {
    background-color: #464A68;
    background-image: -moz-element(ass);
    width: 3%;
    height: 56%;
    position: fixed;
    box-shadow: inset 0px -2px 4px 0px #d9b7b7;
    z-index: 91;
    top: 154px;
    bottom: 0;
    right: 0;
}

main>section:nth-child(2)>section>hr {
    background-color: #0a0909;
    background-color: #0a0909;
    border: 2px solid black;
    width: 100%;
    position: relative;
    top: 62px;
}


/*///////////nav css////////*/
main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > hr {
    color: #0a0909;
    height: 2px;
    background-color: black;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div {
    position: absolute;
    top: 537px;
    width: 100%;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > hr:nth-child(1) {
    position: relative;
    top: 80px;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > section {
    /* background-color: #ff4334; */
    position: relative;
    top: 44px;
    left: 208px;
    width: 81%;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > section > p {
    position: relative;
    top: 44px;
    left: -159px;
    width: 81%;
    color: #40036e;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > aside {
    right: -1031px;
    position: relative;
    top: 0px;
    width: 93px;
    height: 100%;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > aside > a:nth-child(2) {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 307px;
    top: 0;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > aside > a:nth-child(1) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;
    top: -8px;
    font-size: 118%;
}

main > section:nth-child(2) > section:nth-child(2) >section:nth-child(3)> div > aside > a:nth-child(2) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;
    top: -4px;
    font-size: 103%;
}




/*========================================== gallery ==========================================================*/

#glrFrame {
    height: 491px;
    width: 1120px;
    border: 3px solid #40036e;
    position: relative;
    top: 12px;
}

/*///image set////*/

#glryImg1{
    background-color: #ff4334;
    border: 2px solid black;
    position: relative;
    top: -14px;
    left: 19px;
}

#glryImg2{
    position: relative;
    top: -46px;
    left: 12px;
    border: 2px solid black;
    width: 95%;
}

#glryImg3{
    position: relative;
    top: 15px;
    left: 13px;
    border: 2px solid black;
}

#glryImg4{
    position: relative;
    top: -66px;
    left: -14px;
    border: 2px solid black;
    width: 98%;
}

#glryImg5{
    position: relative;
    top: -70px;
    left: 43px;
    border: 2px solid black;
    width: 66%;
}

#glryImg6{
    position: relative;
    top: -107px;
    left: 1px;
    border: 2px solid black;
    width: 190px;
}

#glryImg7{
    position: relative;
    top: -46px;
    left: -7px;
    border: 2px solid black;
    width: 206px;
}

#glryImg8{
    position: relative;
    top: -126px;
    left: -7px;
    border: 2px solid black;
    width: 97%;
}
/*///////*/

main > section:nth-child(3) {
    /*background-color: #ff7f00;*/
    /* width: 97vw; */
    /* height: 98vh; */
    position: relative;
    top: -134px;
}

main > section:nth-child(3) > section > section:nth-child(1) > h1 {
    font-size: 164%;
    font-weight: bold;
    color: black;
    display: initial;
    padding-left: 36px;
    position: relative;
    top: 12px;
}

main > section:nth-child(3) > section > section:nth-child(1) > h1.second {
    /*font-size: 108%;*/
    /*font-weight: bold;*/
    color: red;
    padding-left: 9px;
}

main > section:nth-child(3) > section > section:nth-child(1) > hr {
    /*border-bottom-color: darkred;*/
    margin-left: 47px;
    margin-top: 20px;
    padding-left: 58px;
    color: red;
    border: 2px solid;
}

main > section:nth-child(3) > section > section:nth-child(1) > nav {
    margin-top: 15px;
    margin-left: 23px;
    font-size: 123%;
    font-weight: bold;
    position: relative;
    top: 0px;
}

main > section:nth-child(3) > section > section:nth-child(1) > nav > button {
    font-weight: bold;
    width: 10vw;
    height: 5vh;
}

/*main > section:nth-child(3) > section > section:nth-child(1) > section {*/
/*    width: 81vw;*/
/*    height: 66vh;*/
/*    border: 2px solid blue;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(4, 1fr);*/
/*    grid-template-rows: repeat(2, 1fr);*/
/*    margin: auto;*/
/*    position: relative;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    top: 14px;*/
/*    background-color: red;*/
/*}*/

/*main > section:nth-child(3) > section > section:nth-child(1) > section > img {*/
/*    border: 2px solid blue;*/
/*}*/

/*main > section:nth-child(3) > section > section:nth-child(1) > section > img:nth-child(1) {*/
/*    !*background-size:cover ;*!*/
/*    !*background-position: center;*!*/
/*    !*background-color: red;*!*/
/*    width: 12%;*/
/*    height: 12%;*/
/*}*/

/*main > section:nth-child(3) > section > section:nth-child(1) > section > img:nth-child(2) {*/
/*    !*background-size:cover ;*!*/
/*    !*background-position: center;*!*/
/*    !*background-color: red;*!*/
/*    width: 12%;*/
/*    height: 12%;*/
/*}*/


/*////////////////////background colour///////////////////*/
main>section:nth-child(3)>section>section:nth-child(1)>section{
    width: 1200px;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    left: 0;
    right: 0;
    bottom: -13px;
    /* top: 0; */
    margin: auto;
    /*background-color: darkgreen;*/
    background:
            radial-gradient(circle, transparent 10%, green 10%,
            slategray 80%, transparent 80%, transparent),
            radial-gradient(circle, transparent 20%, darkgreen 20%,
            slategray 80%, transparent 80%, transparent) 50px 50px,
            linear-gradient(darkgreen 8px, transparent 8px) 0 -4px,
            linear-gradient(90deg, darkgreen 8px, transparent 8px) -4px 0;
    background-color: slategray;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

main>section:nth-child(3)>section>section:nth-child(1)>section>section {
    border: 2px white;
    margin: auto;
}

main>section:nth-child(3)>section>section:nth-child(1)>section>section>img {
    margin-left: 3px;
    width: 85%;
    height: 29%
}


/*///////////nav css////////*/
main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > hr {
    color: #0a0909;
    height: 2px;
    background-color: black;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div {
    position: absolute;
    top: 539px;
    width: 100%;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > hr:nth-child(1) {
    position: relative;
    top: 80px;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > section {
    /* background-color: #ff4334; */
    position: relative;
    top: 44px;
    left: 208px;
    width: 81%;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > section > p {
    position: relative;
    top: 44px;
    left: -159px;
    width: 81%;
    color: #40036e;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > aside {
    right: -1031px;
    position: relative;
    top: 0px;
    width: 93px;
    height: 100%;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > aside > a:nth-child(2) {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 307px;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > aside > a:nth-child(1) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;;
    top: -8px;
    font-size: 118%;
}

main > section:nth-child(3) > section:nth-child(2) >section:nth-child(3)> div > aside > a:nth-child(2) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;
    top: -3px;
    font-size: 103%;
}



/*========================================== Education ==========================================================*/

#E1{
    position: relative;
    font-size: 153%;
}

main > section:nth-child(4) {
    background-color: #ff7f00;
    position: relative;
    top: -223px;
    height: 99vh;
}

main > section:nth-child(4)>section>section>article {
    background-color: green;


}


/*///////////nav css////////*/
main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > hr {
    color: #0a0909;
    height: 2px;
    background-color: black;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div {
    position: absolute;
    top: 539px;
    width: 100%;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > hr:nth-child(1) {
    position: relative;
    top: 80px;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > section {
    /* background-color: #ff4334; */
    position: relative;
    top: 44px;
    left: 208px;
    width: 81%;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > section > p {
    position: relative;
    top: 44px;
    left: -159px;
    width: 81%;
    color: #40036e;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > aside {
    right: -1031px;
    position: relative;
    top: 0px;
    width: 93px;
    height: 100%;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > aside > a:nth-child(2) {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 307px;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > aside > a:nth-child(1) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;;
    top: -8px;
    font-size: 118%;
}

main > section:nth-child(4) > section:nth-child(2) >section:nth-child(2)> div > aside > a:nth-child(2) > p {
    width: 93px;
    height: 100%;
    position: absolute;
    left: 54px;
    top: -3px;
    font-size: 103%;
}


/*========================================== Skill ==========================================================*/

#S1{
    position: relative;
    font-size: 153%;
}

main > section:nth-child(5) {
    background-color: greenyellow;
    background-repeat: no-repeat, repeat;
    background-image: url("assets/image/pic/CxrL.gif");
    background-size: 100% 100%;
    /*background-size: auto;*/
    position: relative;
    top: -241px;
    height: 100vh;
}

main>section:nth-child(5)>section:nth-child(2)>section:first-child>section:first-child>hr{
    margin-left: 29px;
    margin-top: 22px;
    padding-left: 58px;
    color: red;
    border: 2px solid;
    width: 4%;
}

#sDiv1{
    display: flex;
    justify-content: space-evenly;
    height: 123px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#sDiv1>div{
    background-color: #40036e;
    position: relative;
    width: 12%;
    height: 59%;
    border-radius: 13px;
    color: #edebe9;
}

#sDiv1>div>img{
    position: relative;
    width: 33%;
    height: 70%;
    border-radius: 13px;
    top: 10px;
    left: 12px;
}

#sDiv1>div>h3{
    font-size: 111%;
    position: relative;
    top: -46px;
    left: 92px;
}

#sDiv2{
    display: flex;
    justify-content: space-evenly;
    height: 123px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#sDiv2>div{
    background-color: #40036e;
    position: relative;
    width: 12%;
    height: 59%;
    border-radius: 13px;
    color: #edebe9;
}

#sDiv2>div>img{
    position: relative;
    width: 33%;
    height: 70%;
    border-radius: 13px;
    top: 10px;
    left: 12px;
}

#sDiv2>div>h3{
    font-size: 111%;
    position: relative;
    top: -46px;
    left: 92px;
}

#L1{
    position: relative;
    font-size: 153%;
    top: 20px;
}

main>section:nth-child(5)>section:nth-child(2)>section:first-child>article>hr{
    margin-left: 26px;
    margin-top: 22px;
    padding-left: 58px;
    color: red;
    border: 2px solid;
    width: 0%;
}

#sDiv3{
    display: flex;
    justify-content: space-evenly;
    height: 123px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

/*///////////nav css////////*/
main > section:nth-child(5) > section:nth-child(2) >section:nth-child(2)> div > hr {
    color: #0a0909;
    height: 2px;
    background-color: black;
}

main > section:nth-child(5) > section:nth-child(2) >section:nth-child(2)> div {
    position: absolute;
    top: 539px;
    width: 100%;
}

main > section:nth-child(5) > section:nth-child(2) >section:nth-child(2)> div > hr:nth-child(1) {
    position: relative;
    top: 80px;
}

