body {
    height: 760px;
}

#crcl-01 {
    width: 240px;
    height: 240px;
    border: 15px solid grey;
    position: fixed;
    margin: auto;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

#crcl-02 {
    width: 215px;
    height: 215px;
    border: 15px solid red;
    position: fixed;
    margin: auto;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

#crcl-03 {
    width: 217px;
    height: 217px;
    position: fixed;
    margin: auto;
    /*border: 15px solid #40036e;*/
    background-color: cyan;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

section:first-child > div > pre {
    position: absolute;
    top: 50px;
    bottom: 200px;
    left: 20px;
    right: 20px;
    font-size: 33px;
}

#crcl-04 {
    width: 217px;
    height: 217px;
    position: fixed;
    margin: auto;
    /*border: 15px solid #40036e;*/
    background-color: blueviolet;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

section:nth-child(2) > div > p {
    font-size: 50px;
    position: absolute;
    left: 52px;
    right: 20px;
    top: 30px;
    bottom: 200px;
}

