body {
    height: 760px;
}

#crcl-01 {
    width: 240px;
    height: 240px;
    border: 15px solid grey;
    position: fixed;
    margin: auto;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

