main{
    width : 1200px;
    height: 600px;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 9px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

main>section{
    margin: auto;
    border: 2px solid blue;
}

main>section:nth-child(1){
grid-column: 1/3;
}