# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Internet_Technologles\My-Portfoliyo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
